<a href="https://colab.research.google.com/github/vidhikhatwani/Machine-Translation---English-to-Hindi/blob/main/EngtoHinKaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np 
import pandas as pd 

import os
import string
from string import digits
import matplotlib.pyplot as plt
%matplotlib inline
import re

import seaborn as sns
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from keras.layers import Input, LSTM, Embedding, Dense
from keras.models import Model

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', -1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

In [4]:
lines=pd.read_csv("/content/Hindi_English_Truncated_Corpus.csv",encoding='utf-8')

In [5]:
lines['source'].value_counts()

tides        50000
ted          39881
indic2012    37726
Name: source, dtype: int64

In [6]:
lines=lines[lines['source']=='ted']

In [7]:
lines.head(20)

   source                                                            english_sentence                                                        hindi_sentence
0   ted    politicians do not have permission to do what needs to be done.             राजनीतिज्ञों के पास जो कार्य करना चाहिए, वह करने कि अनुमति नहीं है .
1   ted    I'd like to tell you about one such child,                                  मई आपको ऐसे ही एक बच्चे के बारे में बताना चाहूंगी,
3   ted    what we really mean is that they're bad at not paying attention.            हम ये नहीं कहना चाहते कि वो ध्यान नहीं दे पाते
7   ted    And who are we to say, even, that they are wrong                            और हम होते कौन हैं यह कहने भी वाले कि वे गलत हैं
13  ted    So there is some sort of justice                                            तो वहाँ न्याय है
23  ted    This changed slowly                                                         धीरे धीरे ये सब बदला
26  ted    were being produced.                                                        उत्पन्न नहीं कि जाती थी.
30  ted    And you can see, this LED is going to glow.                                 और जैसा आप देख रहे है, ये एल.ई.डी. जल उठेगी।
32  ted    to turn on the lights or to bring him a glass of water,                     लाईट जलाने के लिए या उनके लिए पानी लाने के लिए,
35  ted    Can you imagine saying that?                                                क्या आप ये कल्पना कर सकते है
37  ted    Three: this is a good road in - right near where our factory is located.    तीसरी: ये हमारी फ़ैक्ट्री के पास की एक अपेक्षाकृत बेहतर सडक है।
39  ted    What's going on?”                                                           क्या हो रहा है ये?”
42  ted    There are also financial reforms in rural China.                            ग्रामीण चीन में आर्थिक नवीनीकरण हुये हैं।
49  ted    the family planning started in Vietnam and they went for smaller families.  वियतनाम में परिवार योजना शुरू हो गई और उनके परिवार छोटे होने लगे।
51  ted    I mean, at that time, trust me,                                             मेरा मतलब, उस समय, सही मानिए,
53  ted    Not only that,                                                              बस वही नहीं,
55  ted    humans destroyed the commons that they depended on.                         मानवों ने उन ही साझे संसाधनों को नष्ट किया जिन पर वो आधारित थे।
56  ted    Almost goes to E, but otherwise the play would be over.                     रचना करीब करीब ई तक जाती है, मगर तब तो नाटक ख़त्म हो जाएगा.
63  ted    So I want to share with you a couple key insights                           मैं आपके साथ कुछ मुख्य सूत्र बाँटना चाहता हूँ
66  ted    Many countries in the [unclear], they need legitimacy.                      [अस्पष्ट] के बहुत सारे राष्ट्रों को मान्यता चाहिए.

In [8]:
pd.isnull(lines).sum()

source              0
english_sentence    0
hindi_sentence      0
dtype: int64

In [9]:
lines=lines[~pd.isnull(lines['english_sentence'])]

In [10]:
lines.drop_duplicates(inplace=True)

* ### Let us pick any 25000 rows from the dataset.

In [11]:
lines=lines.sample(n=25000,random_state=42)
lines.shape

(25000, 3)

In [12]:
# Lowercase all characters
lines['english_sentence']=lines['english_sentence'].apply(lambda x: x.lower())
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: x.lower())

In [13]:
# Remove quotes
lines['english_sentence']=lines['english_sentence'].apply(lambda x: re.sub("'", '', x))
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: re.sub("'", '', x))

In [14]:
exclude = set(string.punctuation) # Set of all special characters
# Remove all the special characters
lines['english_sentence']=lines['english_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))

In [15]:
# Remove all numbers from text
remove_digits = str.maketrans('', '', digits)
lines['english_sentence']=lines['english_sentence'].apply(lambda x: x.translate(remove_digits))
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: x.translate(remove_digits))

lines['hindi_sentence'] = lines['hindi_sentence'].apply(lambda x: re.sub("[२३०८१५७९४६]", "", x))

# Remove extra spaces
lines['english_sentence']=lines['english_sentence'].apply(lambda x: x.strip())
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: x.strip())
lines['english_sentence']=lines['english_sentence'].apply(lambda x: re.sub(" +", " ", x))
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: re.sub(" +", " ", x))

In [16]:
# Add start and end tokens to target sequences
lines['hindi_sentence'] = lines['hindi_sentence'].apply(lambda x : 'START_ '+ x + ' _END')

In [17]:
lines.head()

       source                                                                           english_sentence                                                                                            hindi_sentence
82040   ted    we still dont know who her parents are who she is                                          START_ हम अभी तक नहीं जानते हैं कि उसके मातापिता कौन हैं वह कौन है _END
85038   ted    no keyboard                                                                                START_ कोई कुंजीपटल नहीं _END
58018   ted    but as far as being a performer                                                            START_ लेकिन एक कलाकार होने के साथ _END
74470   ted    and this particular balloon                                                                START_ और यह खास गुब्बारा _END
122330  ted    and its not as hard as you think integrate climate solutions into all of your innovations  START_ और जितना आपको लगता है यह उतना कठिन नहीं हैअपने सभी नवाचारों में जलवायु समाधान को एकीकृत करें _END

In [18]:
### Get English and Hindi Vocabulary
all_eng_words=set()
for eng in lines['english_sentence']:
    for word in eng.split():
        if word not in all_eng_words:
            all_eng_words.add(word)

all_hindi_words=set()
for hin in lines['hindi_sentence']:
    for word in hin.split():
        if word not in all_hindi_words:
            all_hindi_words.add(word)

In [19]:
len(all_eng_words)

14030

In [20]:
len(all_hindi_words)

17540

In [21]:
lines['length_eng_sentence']=lines['english_sentence'].apply(lambda x:len(x.split(" ")))
lines['length_hin_sentence']=lines['hindi_sentence'].apply(lambda x:len(x.split(" ")))

In [22]:
lines.head()

       source                                                                           english_sentence                                                                                            hindi_sentence  length_eng_sentence  length_hin_sentence
82040   ted    we still dont know who her parents are who she is                                          START_ हम अभी तक नहीं जानते हैं कि उसके मातापिता कौन हैं वह कौन है _END                                   11                   16
85038   ted    no keyboard                                                                                START_ कोई कुंजीपटल नहीं _END                                                                             2                    5
58018   ted    but as far as being a performer                                                            START_ लेकिन एक कलाकार होने के साथ _END                                                                   7                    8
74470   ted    and this particular balloon                                                                START_ और यह खास गुब्बारा _END                                                                            4                    6
122330  ted    and its not as hard as you think integrate climate solutions into all of your innovations  START_ और जितना आपको लगता है यह उतना कठिन नहीं हैअपने सभी नवाचारों में जलवायु समाधान को एकीकृत करें _END  16                   20

In [23]:
lines[lines['length_eng_sentence']>30].shape

(0, 5)

In [24]:
lines=lines[lines['length_eng_sentence']<=20]
lines=lines[lines['length_hin_sentence']<=20]

In [25]:
lines.shape

(24774, 5)

In [26]:
print("maximum length of Hindi Sentence ",max(lines['length_hin_sentence']))
print("maximum length of English Sentence ",max(lines['length_eng_sentence']))

maximum length of Hindi Sentence  20
maximum length of English Sentence  20

In [27]:
max_length_src=max(lines['length_hin_sentence'])
max_length_tar=max(lines['length_eng_sentence'])

In [28]:
input_words = sorted(list(all_eng_words))
target_words = sorted(list(all_hindi_words))
num_encoder_tokens = len(all_eng_words)
num_decoder_tokens = len(all_hindi_words)
num_encoder_tokens, num_decoder_tokens

(14030, 17540)

In [86]:
num_decoder_tokens += 1 #for zero padding
num_encoder_tokens += 1
num_encoder_tokens, num_decoder_tokens

(14032, 17544)

In [87]:
input_token_index = dict([(word, i+1) for i, word in enumerate(input_words)])
target_token_index = dict([(word, i+1) for i, word in enumerate(target_words)])

In [88]:
reverse_input_char_index = dict((i, word) for word, i in input_token_index.items())
reverse_target_char_index = dict((i, word) for word, i in target_token_index.items())

In [89]:
lines = shuffle(lines)
lines.head(10)

       source                                         english_sentence                                                              hindi_sentence  length_eng_sentence  length_hin_sentence
77111   ted    that between now and november it is possible             START_ कि अभी से नवंबर के मध्य ये मुमकिन है। _END                           8                    11
57421   ted    oh look theres another galaxy                            START_ और देखो एक और अकाश गंगा। _END                                        5                    8
75323   ted    are much more ahead in being healthy educated            START_ आगे हैं स्वस्थ और शिक्षित _END                                       8                    7
95451   ted    well what do you talk about when you talk about minds    START_ खैर मन के बारे में बात करो तो क्या बोलो _END                         11                   12
31928   ted    which means were going to be taking care of you          START_ यानी हम आप की तब देखभाल करेंगे _END                                  10                   9
114690  ted    the story rests on a fundamental platform                START_ यह कहानी एक आधारभूत ढांचे पर खड़ी हैं _END                           7                    10
73653   ted    and theyre all people who couldnt do what they do alone  START_ और ये सभी वो लोग हैं जो अकेले वो नहीं कर पाते जो उन्होने किया। _END  11                   17
34086   ted    but what often happens to us                             START_ पर अक्सर यह होता है कि _END                                          6                    8
39211   ted    we have this bucket list                                 START_ हम सब के पास ये लिस्ट होती है _END                                   5                    10
38368   ted    but nasa is developing the space liner always has        START_ पर नासा अंतरिक्ष यान बना रही है हमेशा से बनाती आई है _END            9                    14

### Split the data into train and test

In [90]:
X, y = lines['english_sentence'], lines['hindi_sentence']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=42)
X_train.shape, X_test.shape

((19819,), (4955,))

### Let us save this data

In [91]:
X_train.to_pickle('X_train.pkl')
X_test.to_pickle('X_test.pkl')

In [92]:
def generate_batch(X = X_train, y = y_train, batch_size = 128):
    ''' Generate a batch of data '''
    while True:
        for j in range(0, len(X), batch_size):
            encoder_input_data = np.zeros((batch_size, max_length_src),dtype='float32')
            decoder_input_data = np.zeros((batch_size, max_length_tar),dtype='float32')
            decoder_target_data = np.zeros((batch_size, max_length_tar, num_decoder_tokens),dtype='float32')
            for i, (input_text, target_text) in enumerate(zip(X[j:j+batch_size], y[j:j+batch_size])):
                for t, word in enumerate(input_text.split()):
                    encoder_input_data[i, t] = input_token_index[word] # encoder input seq
                for t, word in enumerate(target_text.split()):
                    if t<len(target_text.split())-1:
                        decoder_input_data[i, t] = target_token_index[word] # decoder input seq
                    if t>0:
                        # decoder target sequence (one hot encoded)
                        # does not include the START_ token
                        # Offset by one timestep
                        decoder_target_data[i, t - 1, target_token_index[word]] = 1.
            yield([encoder_input_data, decoder_input_data], decoder_target_data)

### Encoder-Decoder Architecture

In [93]:
latent_dim=50

In [94]:
# Encoder
encoder_inputs = Input(shape=(None,))
enc_emb =  Embedding(num_encoder_tokens, latent_dim, mask_zero = True)(encoder_inputs)
encoder_lstm = LSTM(latent_dim, return_state=True)
encoder_outputs, state_h, state_c = encoder_lstm(enc_emb)
# We discard `encoder_outputs` and only keep the states.
encoder_states = [state_h, state_c]

In [95]:
# Set up the decoder, using `encoder_states` as initial state.
decoder_inputs = Input(shape=(None,))
dec_emb_layer = Embedding(num_decoder_tokens, latent_dim, mask_zero = True)
dec_emb = dec_emb_layer(decoder_inputs)
# We set up our decoder to return full output sequences,
# and to return internal states as well. We don't use the
# return states in the training model, but we will use them in inference.
decoder_lstm = LSTM(latent_dim, return_sequences=True, return_state=True)
decoder_outputs, _, _ = decoder_lstm(dec_emb,
                                     initial_state=encoder_states)
decoder_dense = Dense(num_decoder_tokens, activation='softmax')
decoder_outputs = decoder_dense(decoder_outputs)

# Define the model that will turn
# `encoder_input_data` & `decoder_input_data` into `decoder_target_data`
model = Model([encoder_inputs, decoder_inputs], decoder_outputs)

In [96]:
model.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['acc'])

In [97]:
model.summary()

Model: "model_4"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_7 (InputLayer)           [(None, None)]       0           []

 input_8 (InputLayer)           [(None, None)]       0           []

 embedding_4 (Embedding)        (None, None, 50)     701600      ['input_7[0][0]']

 embedding_5 (Embedding)        (None, None, 50)     877200      ['input_8[0][0]']

 lstm_4 (LSTM)                  [(None, 50),         20200       ['embedding_4[0][0]']
                                 (None, 50),
                                 (None, 50)]

 lstm_5 (LSTM)                  [(None, None, 50),   20200       ['embedding_5[0][0]',
                                 (None, 50),                      'lstm_4[0][1]',
                                 (None, 50)]                      'lstm_4[0][2]']

 dense_2 (Dense)                (None, None, 17544)  894744      ['lstm_5[0][0]']

==================================================================================================
Total params: 2,513,944
Trainable params: 2,513,944
Non-trainable params: 0
__________________________________________________________________________________________________

In [98]:
train_samples = len(X_train)
val_samples = len(X_test)
batch_size = 128
epochs = 25

In [99]:
train_samples
val_samples//batch_size

38

In [100]:
model.fit_generator(generator = generate_batch(X_train, y_train, batch_size = batch_size),
                    steps_per_epoch = train_samples//batch_size,
                    epochs=epochs,
                    validation_data = generate_batch(X_test, y_test, batch_size = batch_size),
                    validation_steps = val_samples//batch_size)

Epoch 1/25

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  """

154/154 [==============================] - 284s 1s/step - loss: 3.3048 - acc: 0.1062 - val_loss: 3.0338 - val_acc: 0.1065
Epoch 2/25
154/154 [==============================] - 209s 1s/step - loss: 2.9425 - acc: 0.1150 - val_loss: 2.9539 - val_acc: 0.1266
Epoch 3/25
154/154 [==============================] - 203s 1s/step - loss: 2.8624 - acc: 0.1335 - val_loss: 2.9111 - val_acc: 0.1359
Epoch 4/25
154/154 [==============================] - 217s 1s/step - loss: 2.8115 - acc: 0.1402 - val_loss: 2.8717 - val_acc: 0.1414
Epoch 5/25
154/154 [==============================] - 204s 1s/step - loss: 2.7553 - acc: 0.1478 - val_loss: 2.8243 - val_acc: 0.1514
Epoch 6/25
154/154 [==============================] - 197s 1s/step - loss: 2.6962 - acc: 0.1591 - val_loss: 2.7775 - val_acc: 0.1609
Epoch 7/25
154/154 [==============================] - 193s 1s/step - loss: 2.6426 - acc: 0.1735 - val_loss: 2.7406 - val_acc: 0.1785
Epoch 8/25
154/154 [==============================] - 193s 1s/step - loss: 2.5962 - acc: 0.1858 - val_loss: 2.7087 - val_acc: 0.1856
Epoch 9/25
154/154 [==============================] - 197s 1s/step - loss: 2.5566 - acc: 0.1924 - val_loss: 2.6847 - val_acc: 0.1900
Epoch 10/25
154/154 [==============================] - 197s 1s/step - loss: 2.5226 - acc: 0.1982 - val_loss: 2.6677 - val_acc: 0.1939
Epoch 11/25
154/154 [==============================] - 192s 1s/step - loss: 2.4907 - acc: 0.2043 - val_loss: 2.6519 - val_acc: 0.1983
Epoch 12/25
154/154 [==============================] - 209s 1s/step - loss: 2.4613 - acc: 0.2105 - val_loss: 2.6383 - val_acc: 0.2030
Epoch 13/25
154/154 [==============================] - 195s 1s/step - loss: 2.4342 - acc: 0.2161 - val_loss: 2.6292 - val_acc: 0.2065
Epoch 14/25
154/154 [==============================] - 209s 1s/step - loss: 2.4095 - acc: 0.2222 - val_loss: 2.6241 - val_acc: 0.2084
Epoch 15/25
154/154 [==============================] - 211s 1s/step - loss: 2.3859 - acc: 0.2274 - val_loss: 2.6083 - val_acc: 0.2134
Epoch 16/25
154/154 [==============================] - 196s 1s/step - loss: 2.3644 - acc: 0.2317 - val_loss: 2.6087 - val_acc: 0.2156
Epoch 17/25
154/154 [==============================] - 208s 1s/step - loss: 2.3418 - acc: 0.2369 - val_loss: 2.5993 - val_acc: 0.2181
Epoch 18/25
154/154 [==============================] - 212s 1s/step - loss: 2.3207 - acc: 0.2415 - val_loss: 2.5894 - val_acc: 0.2194
Epoch 19/25
154/154 [==============================] - 199s 1s/step - loss: 2.3014 - acc: 0.2461 - val_loss: 2.5890 - val_acc: 0.2199
Epoch 20/25
154/154 [==============================] - 198s 1s/step - loss: 2.2807 - acc: 0.2508 - val_loss: 2.5808 - val_acc: 0.2232
Epoch 21/25
154/154 [==============================] - 211s 1s/step - loss: 2.2629 - acc: 0.2547 - val_loss: 2.5786 - val_acc: 0.2255
Epoch 22/25
154/154 [==============================] - 205s 1s/step - loss: 2.2450 - acc: 0.2590 - val_loss: 2.5799 - val_acc: 0.2265
Epoch 23/25
154/154 [==============================] - 213s 1s/step - loss: 2.2277 - acc: 0.2628 - val_loss: 2.5800 - val_acc: 0.2283
Epoch 24/25
154/154 [==============================] - 200s 1s/step - loss: 2.2096 - acc: 0.2670 - val_loss: 2.5802 - val_acc: 0.2293
Epoch 25/25
154/154 [==============================] - 201s 1s/step - loss: 2.1930 - acc: 0.2707 - val_loss: 2.5779 - val_acc: 0.2283

In [101]:
model.save_weights('nmt_weights.h5')

In [102]:
# Encode the input sequence to get the "thought vectors"
encoder_model = Model(encoder_inputs, encoder_states)

# Decoder setup
# Below tensors will hold the states of the previous time step
decoder_state_input_h = Input(shape=(latent_dim,))
decoder_state_input_c = Input(shape=(latent_dim,))
decoder_states_inputs = [decoder_state_input_h, decoder_state_input_c]

dec_emb2= dec_emb_layer(decoder_inputs) # Get the embeddings of the decoder sequence

# To predict the next word in the sequence, set the initial states to the states from the previous time step
decoder_outputs2, state_h2, state_c2 = decoder_lstm(dec_emb2, initial_state=decoder_states_inputs)
decoder_states2 = [state_h2, state_c2]
decoder_outputs2 = decoder_dense(decoder_outputs2) # A dense softmax layer to generate prob dist. over the target vocabulary

# Final decoder model
decoder_model = Model(
    [decoder_inputs] + decoder_states_inputs,
    [decoder_outputs2] + decoder_states2)

In [103]:
def decode_sequence(input_seq):
    # Encode the input as state vectors.
    states_value = encoder_model.predict(input_seq)
    # Generate empty target sequence of length 1.
    target_seq = np.zeros((1,1))
    # Populate the first character of target sequence with the start character.
    target_seq[0, 0] = target_token_index['START_']

    # Sampling loop for a batch of sequences
    # (to simplify, here we assume a batch of size 1).
    stop_condition = False
    decoded_sentence = ''
    while not stop_condition:
        output_tokens, h, c = decoder_model.predict([target_seq] + states_value)

        # Sample a token
        sampled_token_index = np.argmax(output_tokens[0, -1, :])
        sampled_char = reverse_target_char_index[sampled_token_index]
        decoded_sentence += ' '+sampled_char

        # Exit condition: either hit max length
        # or find stop character.
        if (sampled_char == '_END' or
           len(decoded_sentence) > 50):
            stop_condition = True

        # Update the target sequence (of length 1).
        target_seq = np.zeros((1,1))
        target_seq[0, 0] = sampled_token_index

        # Update states
        states_value = [h, c]

    return decoded_sentence

In [104]:
train_gen = generate_batch(X_train, y_train, batch_size = 1)
k=-1

In [105]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input English sentence:', X_train[k:k+1].values[0])
print('Actual Hindi Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted Hindi Translation:', decoded_sentence[:-4])

1/1 [==============================] - 2s 2s/step
1/1 [==============================] - 1s 1s/step
1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 25ms/step
1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 26ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 22ms/step
Input English sentence: i taught a lesson once on ratios
Actual Hindi Translation:  एक बार मैने अनुपात का एक पाठ पढाया।
Predicted Hindi Translation:  मैं एक माँ के लिए एक पिता पर उन्होंने एक ज़रिय

In [106]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input English sentence:', X_train[k:k+1].values[0])
print('Actual Hindi Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted Hindi Translation:', decoded_sentence[:-4])

1/1 [==============================] - 0s 23ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 27ms/step
1/1 [==============================] - 0s 25ms/step
1/1 [==============================] - 0s 23ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 23ms/step
1/1 [==============================] - 0s 23ms/step
Input English sentence: there it is the strong form of the shoe knot
Actual Hindi Translation:  और यह है जूते की गांठ का मजबूत रूप
Predicted Hindi Translation:  यह एक है कि एक नाम और एक साथ।

In [107]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input English sentence:', X_train[k:k+1].values[0])
print('Actual Hindi Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted Hindi Translation:', decoded_sentence[:-4])

1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 26ms/step
Input English sentence: the most extraordinary are the kogi
Actual Hindi Translation:  उनमें से सर्वाधिक असाधारण लोग उत्तरी कोलंबिया के
Predicted Hindi Translation:  एक ऊर्जा के साथ

In [108]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input English sentence:', X_train[k:k+1].values[0])
print('Actual Hindi Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted Hindi Translation:', decoded_sentence[:-4])

1/1 [==============================] - 0s 24ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 26ms/step
1/1 [==============================] - 0s 26ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 24ms/step
1/1 [==============================] - 0s 25ms/step
1/1 [==============================] - 0s 25ms/step
1/1 [==============================] - 0s 23ms/step
Input English sentence: i went to this very proper christian school
Actual Hindi Translation:  मैं नन और फादर के द्वारा पढाये जाने वाले¼
Predicted Hindi Translation:  मैं एक बार और एक तरह को बनाया

In [111]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input English sentence:', X_train[k:k+1].values[0])
print('Actual Hindi Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted Hindi Translation:', decoded_sentence[:-4])

1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 22ms/step
1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 24ms/step
1/1 [==============================] - 0s 19ms/step
1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 19ms/step
1/1 [==============================] - 0s 21ms/step
1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 20ms/step
1/1 [==============================] - 0s 28ms/step
Input English sentence: so both portraits in the streets in a crowded market
Actual Hindi Translation:  ताकि दोनों चित्र सड़कों पर दिखाई दें इस भीड़भाड़ वाले बाज़ार में
Predicted Hindi Translation:  तो एक रूप में एक नाम के साथ एक दशक के साथ पर